#root {
  /* max-width: 1280px; */
  padding: 2rem;
}

.main {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.main .side-buttons {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  margin-left: 80px;
  border-radius: 15px;
  padding: 15px 10px 10px 10px;
  background-color: white;
  height: fit-content;
}

.main .form-and-buttons {
  flex-grow: 5;
  margin-right: 20px;
  width: 550px;
}

.main .form-and-buttons .buttons button {
  border: none;
  letter-spacing: 0.5px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
  /*padding: 10px 10px 10px 10px;*/
}

.main .form-and-buttons .space {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main .form-and-buttons .buttons {
  box-shadow: 5px 5px 5px 5px lightgray;
}

.main .form-and-buttons .form {
  background-color: white;
  border-radius: 10px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  box-shadow: 5px 5px 5px 5px lightgray;
}

.main .resume {
  flex-grow: 8;
  background-color: white;
  margin-left: 10px;
  margin-right: 40px;
  width: 670px; 
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}